<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.java.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePasswordOfVip</servlet-name>
    <servlet-class>cn.java.servlet.UpdatePasswordOfVip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordOfVip</servlet-name>
    <url-pattern>/UpdatePasswordOfVip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSuggest</servlet-name>
    <servlet-class>cn.java.servlet.GetSuggest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSuggest</servlet-name>
    <url-pattern>/GetSuggest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSuggest</servlet-name>
    <servlet-class>cn.java.servlet.AddSuggest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSuggest</servlet-name>
    <url-pattern>/AddSuggest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetReservationByVid</servlet-name>
    <servlet-class>cn.java.servlet.GetReservationByVid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReservationByVid</servlet-name>
    <url-pattern>/GetReservationByVid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRoomTypeCount</servlet-name>
    <servlet-class>cn.java.servlet.GetRoomTypeCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRoomTypeCount</servlet-name>
    <url-pattern>/GetRoomTypeCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetLiveRoomByVid</servlet-name>
    <servlet-class>cn.java.servlet.GetLiveRoomByVid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLiveRoomByVid</servlet-name>
    <url-pattern>/GetLiveRoomByVid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetNowVipName</servlet-name>
    <servlet-class>cn.java.servlet.GetNowVipName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNowVipName</servlet-name>
    <url-pattern>/GetNowVipName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VipOrder</servlet-name>
    <servlet-class>cn.java.servlet.VipOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VipOrder</servlet-name>
    <url-pattern>/VipOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetFinace</servlet-name>
    <servlet-class>cn.java.servlet.GetFinace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFinace</servlet-name>
    <url-pattern>/GetFinace</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRoomByID</servlet-name>
    <servlet-class>cn.java.servlet.GetRoomByID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRoomByID</servlet-name>
    <url-pattern>/GetRoomByID</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateRoom</servlet-name>
    <servlet-class>cn.java.servlet.UpdateRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoom</servlet-name>
    <url-pattern>/UpdateRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStaff</servlet-name>
    <servlet-class>cn.java.servlet.UpdateStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStaff</servlet-name>
    <url-pattern>/UpdateStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStaffByID</servlet-name>
    <servlet-class>cn.java.servlet.GetStaffByID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStaffByID</servlet-name>
    <url-pattern>/GetStaffByID</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStaff</servlet-name>
    <servlet-class>cn.java.servlet.DeleteStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStaff</servlet-name>
    <url-pattern>/DeleteStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectStaff</servlet-name>
    <servlet-class>cn.java.servlet.SelectStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectStaff</servlet-name>
    <url-pattern>/SelectStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStaff</servlet-name>
    <servlet-class>cn.java.servlet.GetStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStaff</servlet-name>
    <url-pattern>/GetStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogouT</servlet-name>
    <servlet-class>cn.java.servlet.LogouT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogouT</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetuenCount</servlet-name>
    <servlet-class>cn.java.servlet.RetuenCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetuenCount</servlet-name>
    <url-pattern>/RetuenCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetVip</servlet-name>
    <servlet-class>cn.java.servlet.GetVip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVip</servlet-name>
    <url-pattern>/GetVip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRoom</servlet-name>
    <servlet-class>cn.java.servlet.GetRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRoom</servlet-name>
    <url-pattern>/GetRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetReservation</servlet-name>
    <servlet-class>cn.java.servlet.GetReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReservation</servlet-name>
    <url-pattern>/GetReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteReservation</servlet-name>
    <servlet-class>cn.java.servlet.DeleteReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReservation</servlet-name>
    <url-pattern>/DeleteReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectReservation</servlet-name>
    <servlet-class>cn.java.servlet.SelectReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectReservation</servlet-name>
    <url-pattern>/SelectReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AcceptReservation</servlet-name>
    <servlet-class>cn.java.servlet.AcceptReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptReservation</servlet-name>
    <url-pattern>/AcceptReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RefuseReservation</servlet-name>
    <servlet-class>cn.java.servlet.RefuseReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefuseReservation</servlet-name>
    <url-pattern>/RefuseReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetLiveroom</servlet-name>
    <servlet-class>cn.java.servlet.GetLiveroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLiveroom</servlet-name>
    <url-pattern>/GetLiveroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectLiveroom</servlet-name>
    <servlet-class>cn.java.servlet.SelectLiveroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectLiveroom</servlet-name>
    <url-pattern>/SelectLiveroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeRoom</servlet-name>
    <servlet-class>cn.java.servlet.ChangeRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRoom</servlet-name>
    <url-pattern>/ChangeRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddLiveroom</servlet-name>
    <servlet-class>cn.java.servlet.AddLiveroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLiveroom</servlet-name>
    <url-pattern>/AddLiveroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddVip</servlet-name>
    <servlet-class>cn.java.servlet.AddVip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVip</servlet-name>
    <url-pattern>/AddVip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RstreatsRoom</servlet-name>
    <servlet-class>cn.java.servlet.RstreatsRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RstreatsRoom</servlet-name>
    <url-pattern>/RstreatsRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRoomOnClick</servlet-name>
    <servlet-class>cn.java.servlet.GetRoomOnClick</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRoomOnClick</servlet-name>
    <url-pattern>/GetRoomOnClick</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteVip</servlet-name>
    <servlet-class>cn.java.servlet.DeleteVip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVip</servlet-name>
    <url-pattern>/DeleteVip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectVip</servlet-name>
    <servlet-class>cn.java.servlet.SelectVip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectVip</servlet-name>
    <url-pattern>/SelectVip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetVipByID</servlet-name>
    <servlet-class>cn.java.servlet.GetVipByID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVipByID</servlet-name>
    <url-pattern>/GetVipByID</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateVip</servlet-name>
    <servlet-class>cn.java.servlet.UpdateVip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVip</servlet-name>
    <url-pattern>/UpdateVip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStaff</servlet-name>
    <servlet-class>cn.java.servlet.AddStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStaff</servlet-name>
    <url-pattern>/AddStaff</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>cn.java.filter.EncodeFilter</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.java.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/hotel/page/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>cn.java.lisenter.HiSessionLisenter</listener-class>
  </listener>
  <listener>
    <listener-class>cn.java.lisenter.MyServletContexLisenter</listener-class>
  </listener>
</web-app>